.header__link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: transform 0.2s;
}

.header__link:hover {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transform: scale(1.2);
}

.header__link:link {
  color: #fff;
}
